.main {
  background-color: white;
  min-height: 100vh;
  padding: 5rem;
}

.BorderBottom {
  box-shadow: 0px 1px 0px 0px #b7b7b7;
}

.Logo {
  margin-bottom: 25px;
}

.Logo img {
  width: 100px;
}

.main button {
  width: 100px;
  margin: 0px auto;
}

.DeleteBorder {
  box-shadow: none !important;
  padding: 0px !important;
}

.BtnLogIn svg {
  font-size: 30px;
  margin-top: -11px;
}

.BtnLogIn:hover {
  color: #083636;
  background: none !important;
}

.BtnLogIn:hover svg {
  color: #083636;
}

.center {
  max-width: 550px;
  margin: 0px auto;
  color: #072525 !important;
  font: 16px "Roboto","Helvetica","Arial",sans-serif;
  line-height: 16px;
  text-align: center;
  padding-top: 70px;
  position: relative;
  overflow: hidden;
}

.btns {
  text-align: center;
  padding-top: 20px;
}


.btn {
  width: 125px !important;
  height: 32px;
  border-radius: 4px;
  color: #072525 !important;
  background: #e1f292 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-transform: none !important;
  border: 1px solid #072525 !important;
  margin-top: 1rem !important;
}

.btn span {
  font-size: 19px !important;
  line-height: 19px !important;
  margin-right: 10px !important;
}


.Link {
  display: block;
  color: #000 !important;
  font-weight: bold;
  margin-top: 5px;
}

.Link:hover {
  color: #0d5252;
}

.lbl {
  display: block;
  font: 12px "Roboto","Helvetica","Arial",sans-serif;
  line-height: 12px;
  text-align: left;
  color: #000 !important;
  margin-bottom: 5px;
}

.message {
  width: 96%;
  color: #b20707;
  background-color: rgb(243 253 232 / 90%);
  box-shadow: 0px 1px 2px 0px #083636;
  font: 17px "Roboto","Helvetica","Arial",sans-serif;
  line-height: 21px;
  margin-bottom: 15px;
  padding: 8px;
  position: absolute;
  top: 8px;
  right: 5px;
}

.message.success {
  color: #083636;
}

.errors {
  margin-top: 15px;
  line-height: 21px;
}