
.Logo img {
  width: 100px;
  margin-bottom: 40px;
}

.Btn {
  color: #072525;
  text-transform: none;
  background: #e1f292;
  border: 1px solid #072525;
  margin: 18px 0px;
  padding: 2px 30px;
  -webkit-transition: all 300ms ease-out;
 	-moz-transition: all 300ms ease-out;
	 -ms-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
 	transition: all 300ms ease-out;
}

.Btn:hover {
  color: #fff;
  background: #072525;
  border: 1px solid #072525;
  cursor: pointer;
  -webkit-transition: all 300ms ease-out;
 	-moz-transition: all 300ms ease-out;
	 -ms-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
 	transition: all 300ms ease-out;
}

.Link {
  display: block;
  font-weight: bold;
  text-align: left;
  margin-top: 5px;
  position: relative;
  top: -40px;
}

.Link:hover {
  color: #0d5252;
}